
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<!-- main -->
<div class="main-w3layouts wrapper">
	<h1>Check Your Inbox</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<div>
				<p>Reset Password Url Has Been Send To Your Email</p>
			</div>
			<div><a href="https://mail.google.com" target="_blank">Your Inbox</a></div>

		</div>
	</div>
</div>
<!-- //main -->
