@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<!-- main -->
<div class="main-w3layouts wrapper">
	<h1>Creative Forget Password Form</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form asp-action="SendResetPasswordUrl" asp-controller="Account" method="post">
				<div asp-validation-summary="ModelOnly" class="alert-danger"></div>
				<div class="pb-3">
					<input asp-for="Email" placeholder="Email">
					<span class="alert-danger" asp-validation-for="Email"></span>
				</div>
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
<!-- //main -->
