@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<!-- main -->
<div class="main-w3layouts wrapper">
	<h1>Creative Reset Password Form</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form asp-action="ResetPassword" asp-controller="Account" method="post">
				<div asp-validation-summary="ModelOnly" class="alert-danger"></div>
				<div class="pb-3">
					<input asp-for="NewPassword" placeholder="New Password">
					<span class="alert-danger" asp-validation-for="NewPassword"></span>
				</div>
				<div class="pb-3">
					<input asp-for="ConfirmNewPassword" placeholder="Confirm New Password">
					<span class="alert-danger" asp-validation-for="ConfirmNewPassword"></span>
				</div>
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
<!-- //main -->
